.refund-line{
    position: relative;
}

.refund-line::before{
    position: absolute;
    display: block;
    width: 100px;
    height: 1px;
    background-color: #000;
}

.refund-line::after{
    position: absolute;
    display: block;

    width: 100px;
    height: 1px;
    background-color: #000;
}

.refund-buyerMsg .next-form-item-label{
    padding: 0;
}

.input-after .next-input-addon-after{
    line-height: 25px;
}

/*.next-menu-content{
    max-height: 200px;
    overflow-y: scroll;
    overflow-x: hidden;
}*/
